body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue',Helvetica, -apple-system, BlinkMacSystemFont, "Roboto", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
